@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.header-conteiner {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3vw;
}

.conteiner-icon-with-title {
    cursor: pointer;
}

.header-title {
    font-weight: bold;
    font-family: sans-serif;
}

.site-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

.account-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

.button-conteiner {
    display: flex;
    align-items: center;
    gap: 10px;
}